body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}

ul li {
    margin-right: 30px;
}

nav {
    border-bottom: solid 3px #8ABE93;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: grey !important;
}

.land_main {
    width: 100%;
    max-height: 100%;
    min-height: 456px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/land.jpg');
    color: white;
    font-weight: 900;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.center-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.learnmore {
    background: #8ABE93;
    border: none;
    outline: none;
    text-decoration: none;
    color: white;
    padding: 15px 32px;
    font-size: 14px;
}

.tasks {
    color: black;
    padding: 10px;
    text-align: center;
}

.col-lg {
    color: black;
    text-align: center;
}

.col-md {
    padding: 5px;
}

.test {
    font-size: 3em;
    border-radius: 50%;
    border: solid white;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    display: inline-block;
    transition: 0.5s;
    border: solid 1.5px black;
}

.mar {
    margin-top: 10px;
}

.name {
    background: #f2f2f2;
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.experaince {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/exp.jpg');
    color: white;
    font-weight: 900;
    padding: 10px;
}

.title-help {
    background: white;
    color: black;
    max-width: 350px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.26);
}

.title-help h3 {
    padding: 5px;
    margin: 2px;
}

.card {
    background: white;
    max-width: 300px;
    margin-top: 10px;
}

.services {
    background: blue;
    margin: 5px;
    padding: 5px;
}

.experaince a {
    color: white;
}

.experaince a:hover {
    color: white;
    text-decoration: none;
}

.disabled {
    display: none;
}

.service {
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/services2.jpg');
}

.text {
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.shade {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: static;
}

.info {
    padding: 10px;
    background: #f2f2f2;
    text-align: center;
    font-size: 16px;
}

.box {
    background: #e2e2e2;
    width: 290px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}

.web {
    border-bottom: solid 2px #f2f2f2;
}

footer {
    border-top: solid 3px #f2f2f2;
    padding: 5px;
    text-align: center;
}

/* Contact Page */

.top {
    width: 100%;
    max-height: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/contact.jpg');
    color: #fff;
    font-weight: 500;
    border-radius: 0 0 50% 50% / 15%;
    opacity: 0.2;
    filter: alpha(opacity=50);
}

.down {
    margin-left: 5em;
}

.btn-arrow {
    background: url(../images/arrow.png) center center/100% no-repeat;
    top: 10em;
    cursor: pointer;
    height: 75px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 75px;
}

.main {
    margin-top: 4em;
}

.center1 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.center2 {
    text-align: center;
    padding-top: 8.2em
}
.center1 h1 {
    text-align: center;
    margin-top: 4em;
}
.btn-success {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    margin-left: -1.5em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 10px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}
.overlay {
    width: 100%;
    max-height: 100%;
    min-height: 500px;
    border-radius: 0 0 50% 50% / 15%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Form box style */
.container2 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

}
ul {
    list-style: none;
    padding: 0;
}
.brand {
    text-align: center;
}
.brand span {
    color: #fff;
}
.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}
.wrapper > * {
    padding: 1em;
}
.company-info {
    background-image: url(../images/plant.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact {
    background: #e6ffee;
}

/* FORM STYLES */

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form .btn,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #00cc41;
}

.contact form .btn {
    background: #66ff96;
    border: 0;
    text-transform: uppercase;
}

.contact form .btn:hover,
.contact form .btn:focus {
    background: #008028;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}

/* LARGE SCREENS */

@media(min-width:700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }
}
